<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      magrutor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">magrutor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-datetime [(ngModel)]="date" placeholder="Select Date"></ion-datetime>

  <ion-searchbar id="searchbar"></ion-searchbar>
  <ion-list id="searchresults"></ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="save()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
