<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dagligt intag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-datetime id="dateTime" [(ngModel)]="date" placeholder="Select Date"
    monthShortNames="jan, feb, mar, apr, maj, jun, jul, aug, sep, okt, nov, dec"></ion-datetime>

  <ion-searchbar id="searchbar"></ion-searchbar>
  <ion-list id="searchresults"></ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="removeDay()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <h3 id="calText">0 kcal</h3>
    <svg id="piechart"></svg>
  </ion-card>

  <ion-card>
    <ion-list id="intake"></ion-list>
  </ion-card>

</ion-content>